@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #3f51b5;
	--secondary-color: #e8447a;
	--accent-color: rgb(92, 198, 187);
	--neutral-color: #505665;

	--primary-color-rgb: 63, 81, 181;
	--secondary-color-rgb: 232, 68, 122;
	--accent-color-rgb: 92, 198, 187;
	--neutral-color-rgb: 80, 86, 101;
}

@layer components {
	.retro-card {
		@apply relative bg-base-100 border-2 border-neutral rounded-lg p-4;
		&::before {
			content: "";
			@apply absolute inset-0 pointer-events-none;
			background: repeating-linear-gradient(
				45deg,
				transparent,
				transparent 2px,
				rgba(0, 0, 0, 0.02) 2px,
				rgba(0, 0, 0, 0.02) 4px
			);
		}
	}

	.retro-title {
		@apply font-comic font-bold text-2xl;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
	}
}

.modal-box {
	padding: 0;
}
.modal:not(dialog:not(.modal-open)),
.modal::backdrop {
	background: rgba(0, 0, 0, 0.9);
}
