// 颜色变量
$primary: #3f51b5;
$secondary: #e8447a;
$accent: rgb(92, 198, 187);
$neutral: #505665;

// 字体变量
$font-family-comic: "Comic Sans MS", Hannotate SC, "Courier New", monospace;

// 动画变量
$transition-base: all 0.3s ease;
